version: '3'

services:

  # Database
  db:
    image: postgres:latest
    container_name: postgresql

    ports:
      - "5432:5432"
    networks:
      - cinet

    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=p0stgres

    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d
      - /etc/localtime:/etc/localtime:ro

    restart: always


  # SoanrQube
  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    
    ports:
      - "9000:9000"
    networks:
      - cinet

    environment:
        - SONARQUBE_JDBC_USERNAME=postgres
        - SONARQUBE_JDBC_PASSWORD=p0stgres
        - SONARQUBE_JDBC_URL=jdbc:postgresql://db:5432/sonar

    volumes:
      - ./volumes/sonarqube/data:/opt/sonarqube/data
      # sonarqube用のdatabase作成
      - ./volumes/sonarqube/extensions:/opt/sonarqube/extensions
      - /etc/localtime:/etc/localtime:ro

    restart: always


  # MavenRepository
  mavenRepository:
    image: mattgruter/artifactory
    container_name: artifactory

    ports:
     - "8081:8080"
    networks:
      - cinet

    volumes:
     - ./volumes/artifactory/data:/opt/jfrog/artifactory/data
     - ./volumes/artifactory/logs:/opt/jfrog/artifactory/logs
      - /etc/localtime:/etc/localtime:ro

    restart: always


  # Git Server
  gitbucket:
    image: takezoe/gitbucket
    container_name: gitbucket

    ports:
      - "8888:8080"
    networks:
      - cinet

    volumes:
      - ./volumes/gitbucket:/gitbucket
      - /etc/localtime:/etc/localtime:ro


  # Jenkins
  jenkins:
    image: jenkins:latest
    container_name: jenkins

    ports:
      - "8080:8080"
    networks:
      - cinet

    volumes:
     - ./volumes/jenkins_home/maven:/var/maven
      - /etc/localtime:/etc/localtime:ro

    restart: always


  # IRCD Chat Server
  ircdServer:
    image: goldeneggg/centos-ngircd
    container_name: ngircd

    ports:
      - "6667:6667"


  # Redmine Server
  redmine:
    image: redmine

    ports:
      - "3000:3000"

    environment:
      REDMINE_DB_POSTGRES: db
      REDMINE_DB_USERNAME: postgres
      REDMINE_DB_PASSWORD: p0stgres
      REDMINE_DB_DATABASE: redmine
    networks:
      - cinet

    volumes:
      - ./volumes/redmine/files:/usr/src/redmine/files
      - ./volumes/redmine/plugins:/usr/src/redmine/plugins
      - /etc/localtime:/etc/localtime:ro

    restart: always


networks:
  cinet:
    driver: bridge
